{% extends 'bulma/base.html' %}
{% load static %}

{% block title %}lalamika{% endblock %}


{% block content %}
    Content goes here...
    <html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'bulma/css/style.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bulma/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bulma/css/style.css.map' %}">
    </head>
    <body class="has-background-success">

    </body>

    <script src=""></script>
    <script src=""></script>
    <script src=""></script>

    </html>
{% endblock content %}

