{% extends 'base.html' %}
{% block content %}
 {% include 'nav.html' %}
    <section class="hero is-info is-large">
        <div class="hero-head">

        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
                <p class="title">
                    Students Results Complaint Management System
                </p>
                <p class="subtitle">
                    lalamika
                </p>
            </div>
        </div>

        <div class="hero-foot">
            <nav class="tabs is-boxed is-fullwidth">
                <div class="container">

                </div>
            </nav>
        </div>
    </section>
{% endblock %}