{% block content %}
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
                </div>
                <div id="navbarMenuHeroB" class="navbar-menu">
                    <div class="navbar-end">
                        {% if user.is_authenticated %}
                            <a class="navbar-item" href="{% url 'profile' %}">
                               <span id="try-span">profile</span>
                            </a>
                            <a class="navbar-item" href="{% url 'index' %}">
                                <span id="try-span">view transcript</span>
                            </a>

                            <a class="navbar-item" href="{% url 'logout' %}">
                               <span id="try-span">logout</span>
                            </a>
                        {% else %}
                            <a class="navbar-item " href="{% url 'home' %}">
                                Home
                            </a>
                            <a class="navbar-item" href="{% url 'login' %}">
                                login
                            </a>
                            <a class="navbar-item" href="{% url 'register' %}">
                                register
                            </a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}