{% extends 'base.html' %}
{% load bulma_tags %}
{% block content %}
    <div class="hero-body">
        <h4>{{ user.username }}</h4>
        <h4>{{ user.name }}</h4>
        <h4>{{ user.regno }}</h4>
        <h4>{{ user.email }}</h4>
    </div>
    <div class="hero-body">
        <form action="" method="post" enctype="multipart/form-data">
            <h4 class="has-text-centered">profile info</h4>
            {% csrf_token %}

            {{ u_form | bulma }}
            <div>
                <button class="button is-link has-text-centered" type="submit">update</button>
            </div>
        </form>
    </div>
{% endblock content %}